<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Chatbot</title>
  </head>
  <body>
    <div class="wrapper">
      <h2>
        Chatbot
      </h2>
      <input
        type="text"
        id="input"
        placeholder="What's on your mind, babydoll?"
        class="input"
      />
      <button id="button" class="button">Send message</button>
      <div id="database_messages" class="database_messages"></div>
      <h2 id="response" class="hidden">{{response_to_input}}</h2>

      <div id="sender_details_wrapper" class="hidden">
        <div class="details_title">Information about the response</div>
        <div id="response_origin" class="sender_details"></div>
        <div class="details_title">Information about your input</div>
        <div id="sender_address" class="sender_details">
          {{response_to_input}}
        </div>
        <div id="sender_port" class="sender_details">{{response_to_input}}</div>
        <div id="time" class="sender_details">{{response_to_input}}</div>
      </div>
    </div>

    <script type="text/javascript" src="/static/js/message.js"></script>
  </body>
</html>
