<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Chatbot</title>
  </head>
  <body>
    <div class="wrapper">
      <h2>
        Chatbot
      </h2>
      <input
        type="text"
        id="input"
        placeholder="What's on your mind, babydoll?"
        class="input"
      />
      <button id="button">Send message</button>
      <h2 id="response">{{response_to_input}}</h2>
    </div>

    <script type="text/javascript" src="/static/js/message.js"></script>
  </body>
</html>
